@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    height: 100vh;
}

.mode {
    position: absolute;
    top: 50px;
    left: 17.5%;
    font-size: 1.5rem;
    cursor: pointer;
}
.moon, .sun, .angry{text-decoration: underline;}

.moon:hover,
.sun:hover,
.angry:hover {
    opacity: 0.7;
}

#wrapper {
    width: 65%;
    margin: 0 auto;
    margin-top: 130px;
}

#wrapper h1{
    font-size: 1.8em;
    margin-bottom: 5px;
}
#wrapper p{
    font-size: 1.5em;
    text-align: justify;
    margin-bottom: 20px;
}

#wrapper-content {
    margin: 30px 0 50px 0;
}

a {
    display: block;
    text-decoration: none;
    position: relative;
    margin: 10px 0;
}

i, p{
    display: inline-block;
    text-decoration: none;
    color: black;
}

.special-content {
    display: inline-block;
}

.arrow {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.special-content i {
    background-color: aliceblue;
}
#wrapper-content i {
    color: white;
    padding: 10px;
    border-radius: 50%;
    background: linear-gradient(to top right, #BB73E0, #FF8DDB);
    transition: 1.5s ease-in-out !important;
}

#wrapper-content p {
    position: absolute;
    left: 50px;
    top: 7px;
    color: black;
}

.sites {
    color: blue;
}

#contact {
    margin: 40px 0 30px 0;
    text-align: center;
}

/* style js */

.change {
    background: linear-gradient(to bottom left,  #BB73E0, #FF8DDB) !important;
}

/* darkmode */
#darkmode {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

#darkmode span,
#darkmode p {
    color: rgba(255,255,255,0.85);
}

/* lightmode */
#lightmode {
    background: rgb(255,255,255,0.4);
}

#lightmode span,
#lightmode p {
    color: rgba(0, 0, 0, 0.9);
}

/* angrymode */
#angry{
    background: rgba(255, 0, 0, 0.8);
    color: rgba(255,255,255,0.85);
}

#angry #wrapper {
    background-image: url('img/pdi.png');
    background-size: 400px;
    background-attachment: scroll;
}

#angry span,
#angry p,
#angry hr {
    color: rgba(255,255,255,0.85);
}

/* responsive */
@media only screen and (max-width: 400px) {
    .mode {
        font-size: 1rem;
        top: 20px;
        left: 13%;
    }
    #wrapper {
        width: 70%;
        margin-top: 70px;
    }
    #wrapper h1,
    #wrapper p {
        font-size: 1em;
    }

    #wrapper h1 {
        margin-bottom: 20px;
    }

    a {
        font-size: 18px;
    }

    #wrapper-content p {
        top: 10px;
        left: 60px;
    }

    #contact {
        margin: 26px 0 10px 0;
    }

    #angry #wrapper {
        background-image: url('img/pdi.png');
        background-size: 280px;
        background-attachment: scroll;
    }
  }